.container {
  position: fixed;
  top: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 0 5px #aaa;
  height: 30px;
  border-radius: 15px;
  padding-inline: 5px;
  animation: notify 0.2s ease-out;

  .iconContainer {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      color: white;
    }
  }

  .title {
    font-size: 14px;
    color: #333;
  }

  .close {
    width: 25px;
    height: 25px;
    border: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
  }
}

@keyframes notify {
  0% {
    top: -20px;
    opacity: 0;
    scale: 0;
  }

  100% {
    top: 20px;
    opacity: 1;
    scale: 1;
  }
}

.success {
  @extend .container;

  .iconContainer {
    background-color: green;
  }
}

.info {
  @extend .container;

  .iconContainer {
    background-color: dodgerblue;
  }
}

.warn {
  @extend .container;

  .iconContainer {
    background-color: orange;
  }
}

.fail {
  @extend .container;

  .iconContainer {
    background-color: orangered;
  }
}