%btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  padding: 7.55px 15px;
  transition: 0.2s;
  box-shadow: 0 0 3px #ccc;

  &:disabled {
    opacity: 0.5 !important;
  }

  &:hover {
    box-shadow: 0 0 3px #888;
    opacity: 0.85;
  }

  &:active {
    scale: 0.98;
  }
}

.light {
  @extend %btn;
  background-color: white;
  color: black;
}

.dark {
  @extend %btn;
  background-color: black;
  color: white;
}

.danger {
  @extend %btn;
  background-color: tomato;
  color: white;
}

.default {
  @extend %btn;
  background-color: dodgerblue;
  color: white;
}